<% content_for :title, "Ventas - Disquería" %>
<% content_for :page_title, "Gestión de Ventas" %>
<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'sales_index', media: 'all' %>
    <%= stylesheet_link_tag 'custom_modal', media: 'all' %>
<% end %>
<% content_for :javascripts do %>
    <%= javascript_include_tag 'custom_modal', defer: true %>
<% end %>

<div class="sales-container">
  <div class="filters-bar">
    <%= form_with url: admin_sales_path, method: :get, local: true, class: "filters-form" do |f| %>
      <div class="filter-group">
        <%= f.number_field :sale_id, placeholder: "ID de venta...", value: params[:sale_id], class: "filter-input", min: 1 %>
      </div>
      
      <div class="filter-group">
        <%= f.number_field :user_id, placeholder: "ID empleado...", value: params[:user_id], class: "filter-input", min: 1 %>
      </div>
      
      <div class="filter-group">
        <%= f.number_field :customer_id, placeholder: "ID cliente...", value: params[:customer_id], class: "filter-input", min: 1 %>
      </div>

      <div class="filter-group">
        <%= f.number_field :min_amount, placeholder: "Monto mín...", value: params[:min_amount], class: "filter-input", min: 0, step: 0.01 %>
      </div>

      <div class="filter-group">
        <%= f.number_field :max_amount, placeholder: "Monto máx...", value: params[:max_amount], class: "filter-input", min: 0, step: 0.01 %>
      </div>

      <div class="filter-group">
        <label for="from_date" class="filter-label">Fecha desde:</label>
        <%= f.date_field :from_date, value: params[:from_date], class: "filter-input", id: "from_date" %>
      </div>

      <div class="filter-group">
        <label for="to_date" class="filter-label">Fecha hasta:</label>
        <%= f.date_field :to_date, value: params[:to_date], class: "filter-input", id: "to_date" %>
      </div>
      
      <div class="filter-group">
        <%= f.submit "Buscar", class: "btn-filter" %>
        <%= link_to "Limpiar", admin_sales_path, class: "btn-filter-clear" %>
      </div>
    <% end %>
  </div>
    <div class="sales-grid">
        <% if @sales && @sales.any? %>
            <% @sales.each do |sale| %>
                <div class="sale-card-wrapper">
                    <%= button_to admin_sale_path(sale), 
                        method: :delete, 
                        class: "btn-delete-corner",
                        form: { data: { confirm: "¿Estás seguro de que deseas eliminar esta venta?" } } do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    <% end %>
                    
                    <%= link_to admin_sale_path(sale), class: "sale-card" do %>
                        <div class="sale-avatar">
                            #<%= sale.id %>
                        </div>

                        <div class="sale-info">
                            <h3 class="sale-name">Venta #<%= sale.id %></h3>
                            <p class="sale-detail">Empleado ID: <%= sale.user_id || 'N/A' %></p>
                            <p class="sale-detail">Cliente ID: <%= sale.customer_id || 'N/A' %></p>
                            <p class="sale-amount">Total: $<%= number_with_precision(sale.total_amount, precision: 2) %></p>
                            <span class="sale-date"><%= sale.datetime&.strftime("%d/%m/%Y %H:%M") || sale.created_at.strftime("%d/%m/%Y %H:%M") %></span>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% else %>
            <div class="no-sales-message">
                <h4>No hay ventas registradas</h4>
                <p>Comienza creando tu primera venta usando el botón "Nueva Venta"</p>
            </div>
        <% end %>
    </div>
</div>

<div class="create-sale-button-container">
    <%= button_to "Nueva Venta", new_admin_sale_path, method: :get, class: "btn" %>
</div>


<div class="pagination-container">
    <%= paginate @sales %>
</div>  